body {
    margin: 0px;
}
#result {
    background-color: #fff;
    border: #ccc 1px solid;
    padding: 10px;
    line-height: 1.5em;
    width: 250px;
    height: 300px;
    overflow
    overflow-y: auto;
    overflow-x:hidden;
}
#huaci {
    border-color: #000;
    width: 20px;
    height: 20px;
}
